*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cube{
position: relative;
width: 300px;
height: 300px;
transform-style: preserve-3d;

transform: rotateX(-30deg);
animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform:rotateX(-30deg) rotateY(360deg);
    }
}

.cube div{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span {
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ce00);
    transform: rotate Y( calc(90deg * var(--i))) translate Z(150px);
}
.cube div span img {
    width: 400px;
    height: 400px;
    border-radius: 12rex;
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotate X(90deg) translate Z(150px);
}

.top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translate Z(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba( 0,255 , 0 ,0.2), 0 0 200px rgba(0,255,0 , 0.4), 0 0 300px rgba(0,255,0,0.6), 0 0 400px rgba(0,255,0,0.8), 0 0 500px rgba(0, 255 , 0 ,1);

}